body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important; 
}

.navbar-brand img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.carousel-inner img {
    height: 80vh;
    object-fit: cover;
}

.custom-hr {
    border-top: 2px solid #c2cbd1;
}

.section {
    background-color: black;
    padding: 60px 0;
}

.bg{
    background-color: #0dcaf0;
}

.footer {
    background-color: #0dcaf0; 
}

.footer p {
    margin-bottom: 0;
}


.transparent-card {
    background-color: rgba(0, 0, 0, 0); 
    color: white; 
}

@media (max-width: 576px) {
   #quienes-somos{
    display: none;
    }
}

